<h2>現場へ手配</h2>
<%= link_to "一覧へ戻る", parties_path %>

<div class="row">
	<aside class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th>日時</th>
					<th>最寄り駅</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @party.party_start %></td>
					<td><%= @party.station %></td>
				</tr>
			</tbody>
		</table>
	</aside>
	<aside class="col-md-6">
		<table class="table">
			<thead>
				<th>スタッフ№</th>
				<th>氏名</th>
				<th>手配</th>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.staff_no %></td>
						<td><%= user.name %></td>
						<td>
							<% if user.work?(@party) %>
								<%= form_for(user.shift_dicisions.find_by(party_id: @party.id), html: { method: :delete }) do |f| %>
									<%= hidden_field_tag :user_id, user.id %>
									<%= hidden_field_tag :party_id, @party.id %>
									<%= f.submit "現場から外す", class: "btn btn-danger" %>
								<% end %>
							<% else %>
								<%= form_for(user.shift_dicisions.build) do |f| %>
									<%= hidden_field_tag :user_id, user.id %>
									<%= hidden_field_tag :party_id, @party.id %>
									<%= f.submit "手配する", class: "btn btn-primary" %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</aside>
</div>