<h2>現場へ手配</h2>
<%= link_to "一覧へ戻る", parties_path %>

<div class="row">
	<aside class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th>日時</th>
					<th>最寄り駅</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @party.party_start %></td>
					<td><%= @party.station %></td>
				</tr>
			</tbody>
		</table>
	</aside>
	<aside class="col-md-6">
		<table class="table">
			<thead>
				<th>スタッフ№</th>
				<th>氏名</th>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.staff_no %></td>
						<td><%= user.name %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</aside>
</div>