<h4><%= current_user.name %>さん</h4>
<h2>シフト提出</h2>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-8">
      <%= form_for @shifts, url: shifts_path, local: true do |form| %>
        <% @shifts.collection.each do |shift|%>
          <%= fields_for 'shifts[]', shift do |field| %>
            <%= field.hidden_field :user_id, value: current_user.id %>
          
            <table class="table">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>希望</th>
                  <th>コメント (時間指定など)</th>
                </tr>
              </thead>
              <tbody>
                <td><%= field.date_field :date, class: "form-control" %></td>
                <td>
                  <%= field.radio_button :category, :〇, checked: true %><%= field.label :category, "〇", {value: :empty, style: "display: inline-block"} %>
                  <%= field.radio_button :category, :？ %><%= field.label :category, "？", {value: :full, style: "display: inline-block"} %>
                  <%= field.radio_button :category, :✕ %><%= field.label :category, "✕ " , {value: :unknown , style: "display: inline-block"} %>
                </td>
                <td><%= field.text_field :content, class: "form-control" %></td>
              </tbody>
            </table>
            <div class="text-right">
              <%= form.submit "提出" %>
            </div>
            
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
