<h4><%= current_user.name %>さん</h4>
<h2>シフト提出</h2>
<%= form_for @shifts, url: shifts_path, local: true do |form| %>
  <% @shifts.collection.each do |shift|%>
    <%= fields_for 'shifts[]', shift do |field| %>
      <%= field.hidden_field :user_id, value: current_user.id %>
      <div class="field">
        <%= field.label :date, "日付" %>
        <%= field.date_field :date, class: "form-control" %>
      </div>

      <div class="field">
        <%= field.label :category, "シフト希望" %>
        <%= field.text_field :category, class: "form-control" %>
      </div>

      <div class="field">
        <%= field.label :content, "コメント" %>
        <%= field.text_field :content, class: "form-control" %>
      </div>
      </br>
    <% end %>
  <% end %>
  
  <div class="actions">
    <%= form.submit "提出する" %>
  </div>
<% end %>


