<% if logged_in? %>
	<h2><%= current_user.name %>さんのマイページ</h2>
	<ul>
		<li><%= link_to "スケジュール", party_path(current_user) %></li>
		<li><%= link_to "スキル", skill_path(current_user) %></li>
		<li><%= link_to "シフト確認・提出", shift_path(current_user) %></li>
	</ul>
<% else %>
	<div class="center jumbotron">
		<div class="text-center">
			<h1>スタッフ専用ページ</h1>
			<%= link_to "ログインする", login_path, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
