<% if logged_in? %>
	<h2><%= current_user.name %>さんのマイページ</h2>
	<ul>
		<li><%= link_to "スケジュール", schedules_user_path(current_user) %></li>
		<li><%= link_to "スキル", skills_user_path(current_user) %></li>
		<li><%= link_to "シフト", shifts_user_path(current_user) %></li>
		<li><%= link_to "パスワード変更", change_pass_user_path(current_user) %></li>
	</ul>
<% else %>
	<div class="center jumbotron">
		<div class="text-center">
			<h1>スタッフ専用ページ</h1>
			<%= link_to "ログインする", login_path, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
